.title p {
    font-family: 'Î¢ÈíÑÅºÚ';
    font-size: 18px;
    color: green;
    text-align: center;

    span {
        height: 60px;
        color: orange;
        position: absolute;
        overflow: hidden;
    }
}